.main-container{
    background-color: #27292a;
    /* padding: 30px; */
    /* margin: 20px; */
    border-radius: 25px;
    /* padding: 100px; */
    padding: 50px;
    /* margin: 50px 100px 100px 100px; */
    margin: 30px;
}